<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="lib/vue.min.js"></script>
</head>
<body>
    <div id="app">
       <input type="checkbox" id="jack" value="jack" v-model="checkedNames">
       <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="john" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names:{{checkedNames | json}}</span>
        <br>
        <input type="radio" id="one" value="One" v-model="picked">One
        <input type="radio" id="two" value="Two" v-model="picked">Two
        <br>
        <span>Picked:{{picked}}</span>
        <br>
        <select v-model="selected" multiple>
            <option selected>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected:{{selected | json}}</span>
        <br>
        <!--v-for渲染-->
        <select v-model="selected">
              <option v-for="option in options" v-bind:value="option.value">
                  {{option.text}}
              </option>
        </select>
    </div>
</body>
<script>
     new Vue({
         el:'#app',
         data:{
             checkedNames:[],
             picked:'',
//             selected:[],
             selected:'A',
             options:[
                 {text:'One',value:'A'},
                 {text:'Two',value:'B'},
                 {text:'Three',value:'C'}
             ]
         }
     });
</script>
</html>